<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>trabajouy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.trabajouy.controllers.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.trabajouy.controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.trabajouy.controllers.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Perfil</display-name>
    <servlet-name>Perfil</servlet-name>
    <servlet-class>com.trabajouy.controllers.Perfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Perfil</servlet-name>
    <url-pattern>/Perfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Paquete</display-name>
    <servlet-name>Paquete</servlet-name>
    <servlet-class>com.trabajouy.controllers.Paquete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paquete</servlet-name>
    <url-pattern>/consulta-paquete&quot;</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Postulacion</display-name>
    <servlet-name>Postulacion</servlet-name>
    <servlet-class>com.trabajouy.controllers.Postulacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Postulacion</servlet-name>
    <url-pattern>/Postulacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Oferta</display-name>
    <servlet-name>Oferta</servlet-name>
    <servlet-class>com.trabajouy.controllers.Oferta</servlet-class>
    <multipart-config>
      <location>/media/images</location>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Oferta</servlet-name>
    <url-pattern>/Oferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoPaquete</display-name>
    <servlet-name>InfoPaquete</servlet-name>
    <servlet-class>com.trabajouy.controllers.InfoPaquete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoPaquete</servlet-name>
    <url-pattern>/InfoPaquete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaOferta</display-name>
    <servlet-name>ConsultaOferta</servlet-name>
    <servlet-class>com.trabajouy.controllers.ConsultaOferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaOferta</servlet-name>
    <url-pattern>/ConsultaOferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>infoOferta</display-name>
    <servlet-name>infoOferta</servlet-name>
    <servlet-class>com.trabajouy.controllers.infoOferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>infoOferta</servlet-name>
    <url-pattern>/infoOferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OfertasPostularse</display-name>
    <servlet-name>OfertasPostularse</servlet-name>
    <servlet-class>com.trabajouy.controllers.OfertasPostularse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfertasPostularse</servlet-name>
    <url-pattern>/OfertasPostularse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TipoOferta</display-name>
    <servlet-name>TipoOferta</servlet-name>
    <servlet-class>com.trabajouy.controllers.TipoOferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TipoOferta</servlet-name>
    <url-pattern>/TipoOferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompraPaquete</display-name>
    <servlet-name>CompraPaquete</servlet-name>
    <servlet-class>com.trabajouy.controllers.CompraPaquete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompraPaquete</servlet-name>
    <url-pattern>/CompraPaquete</url-pattern>
  </servlet-mapping>
</web-app>