body {
    font-family: 'Montserrat', sans-serif;
    background-color: #28666e;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 2em 3em;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.login-form h2 {
    color: #333;
    margin-bottom: 20px;
    font-weight: 400;
    border-bottom: 2px solid #0099ff;
    display: inline-block;
    padding-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 2px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.login-form input:focus {
    border-color: #28666e;
}

.login-form button {
    padding: 10px 20px;
    border: none;
    background-color: #28666e;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 19px;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #0077cc;
}
